* {
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Footer Section */
.site-newsletter {
    background: rgb(78, 78, 78);
    padding: 5%;
}

.site-footer {
    background: rgb(24, 23, 23);
}

.copy{
    text-align: center;
    font-size: .8rem;
    color: #fff;
}

.copy p{
    margin: 0;
}

.nav-link {
    color:rgb(172, 172, 172);
}

.nav-link:hover {
    color: rgb(255, 230, 4);
}


h1 {color:pink}

